@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    
}

.container{
    /* max-width: 1200px; */
    margin: 0 auto;
}

.header{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)), url(img/menu1.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.menu{
    position: fixed;
    max-width: 1200px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}
.logo{
    color: #fffdfc;
    font-size: 25px;
    font-weight: 800;
    
}

.menu .navbar ul li{
    position: relative;
    float: left;
    
}
.menu .navbar ul li a{
    position: relative;
    font-size: 18px;
  /* padding: 20px; */
    margin-left: 40px;
    color: #fffdfc;
    display: block;
    font-weight: 600;  
}
.menu .navbar ul li a:hover{
    color: #ce967b;
}
.menu .navbar ul li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}
.menu .navbar ul li a:hover::after{
    transform: scaleX(1);
}
.navbar .btnlogin-popup {
   width: 110px;
   height: 40px; 
   background: transparent;
   border: 2px solid #fff;
   outline: none;
   border-radius: 6px;
   cursor: pointer;
   font-size: 1.1em;
   color: #fff;
   font-weight: 500;
   margin-left: 40px;
   transition: .5s;
}
.navbar .btnlogin-popup:hover{
    background: #fff;
    color: #162938;
}
.header #menu1.sticky{
    min-width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* padding: 5px 100px; */
    background: rgba(0, 0, 0, 0.5);
    
}
.menu.sticky ul li a{
    color: #fff;
}
.header #menu1.sticky .logo{
    margin-right: 50px;
}




#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}
.header-content{
    text-align: center;
}
.header-content h1{
    font-size: 60px;
    line-height: 80px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.hr{
    color: #000000;
}
.header-content p{
    font-size: 16px;
    color: #c5c5c5;
    padding: 0 250px;
    margin-bottom: 100px;
}
.btn-1{
    display: inline-block;
    padding: 11px 35px;
    background-color: #ce967b;
    color:#f9fafc ;
    text-transform: uppercase;
    border-radius: 10px;
}
.btn-1:hover{
    background-color: #9c3806;
}

.coffee{
    /* padding: 100px 0; */
    background-color: #e1e2e6;
    position: relative;

}
.coffee-content{
    text-align: center;
}
.coffee-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}
.txt-p{
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px; 
}
.coffee-group{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 50px;
}

.coffee-1{
    max-width: 300px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    transition: all 0.25s;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    min-height: 350px;
    text-align: center;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    cursor: pointer;

}
.coffee .coffee-1:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.coffee .coffee-1 img{
    max-width: 100%;
    width: 280px;
    border-radius: 8px;
    height: 210px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
#link{
    color: #000000;
}
.services {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(../img/blog4.jpg);
    background-position: center center;
    background-repeat: no-repeat;   
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}
.services #h2{
    font-size: 55px;
    line-height: 70px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: center;
}
/* empeiza */
section {
/*   height: 75vh;
  width: 100%; */
  display: grid;
  place-items: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}
.card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(#ffffff 50%, #ce967b 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}
h2 {
  font-size: 30px;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0;
}
p {
  color: #575a7b;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
/* .icon-wrapper {
  background-color: #2c7bfe;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
} */
.card:hover {
  background-position: 0 100%;
}
/* .card:hover .icon-wrapper {
  background-color: #ffffff;
  color: #2c7bfe;
} */
.card:hover h3 {
  color: #ffffff;
}
.card:hover p {
  color: #f0f0f0;
}
@media screen and (min-width: 768px) {
  section {
    padding: 0 2em;
  }
  .column {
    flex: 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em 3em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    }
}
/* termina */

.services-content {
    text-align: center;
    
}
.services-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.services-content p {
    font-size: 16px;
    color: #c5c5c5;
    margin-bottom: 50px;
    padding: 0 100px;
}
.services-group {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 50px;
    max-width: 1200px;
}
.services-group a {
    color: #f9fafc;
}
.services-1 {
    padding: 0 100px;
}
.services-1 img {
    width: 40px;
    margin-bottom: 15px;
}
.services-1 h3 {
    color: #eaccb3;
    font-size: 18px;
}
/* .general {
    display: flex;
}
.general-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #e1e2e6;

}
.general-2 {
    background-image: url(img/coffe-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
.general-3 {
    background-image: url(img/coffee-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
} */ 

.h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.p {
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;

}
.blog {
    /* background : linear-gradient(#888888, #090505); */
    background: #f9fafc;
    padding: 100px 0;
    text-align: center;
    
}
.blog .titulo{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}
.blog-content {
    display: flex;
    margin: auto;
    margin-bottom: 50px;
    justify-content: center;
    max-width: 1200px;
}

.blog-1 {
    max-width: 600px;
    width: 100%;
    margin: 30px;
    margin-top: 20px;
    transition: all 0.25s;
    border-radius: 10px;
    /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); */
    min-height: 350px;
    text-align: center;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    /* padding: 15px 55px;
    max-width: 800px; */

}
.blog-1 img {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}
.blog-1 h3 {
    font-size: 25px;
    color: #323337;
}
/* .footer{
    padding: 100px 0 0;
    background-color: #000000;

}
.footer-content {
    display: flex;
    justify-content: space-between;

}
.link h3{
    font-size: 18px;
    color: #f9fafc;
    margin-bottom: 15px;
}
.link a {
    font-size: 16px;
    color: #c5c5c5;
    display: block;
    margin-bottom: 15px;
} */
.pie-pagina{
    width: 100%;
    background-color: #000000;
    text-align: center;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box .ubicación{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0f0505;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: #ce967b;
}
.pie-pagina .grupo-2{
    background-color: #090505;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:991px){
    .pie-pagina .grupo-1{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
    /* .ubicacion {
        width: 250px;
        height: 200px;
    } */
}
.footer .grupo-2 {
    background-color: #000000;
    position: relative;
    margin-bottom: 0;
    padding: 15px 10px;
    text-align: center;
    color: #f9fafc;
}
.footer .grupo-2 small {
    font-size: 15px;
}
@media(max-width:991px){
    .menu {
        padding: 30px;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    .menu .navbar ul li a::after{
        display: none;
    }
    .header {
        min-height: 0vh;
    }
    .header-content {
        padding: 100px 30px;
    }
    .header-content p {
        padding: 0;
    }
    .header-content h1{
        font-size: 1.3em;
    }
    .coffee{
        padding: 30px;
    }
    .coffee-content h2 {
        font-size: 2em;
        padding: 0;
    }
    .txt-p {
        padding: 0;
    }
    .coffee-group {
        flex-direction: column;
        margin-bottom: 20px;
    }
    .coffee-img {
        display: none;
        
    }
    .coffee-1 img{
        width: 250px;
    }
    .services{
        padding: 20px;
    }
    .services-content p{
        padding: 0;
    }
    .services-group{
        flex-direction: column;
        margin-bottom: 50px;
    }
    .services-1{
        margin-bottom: 50px;

    }
    
    .blog{
        padding: 30px;
    }
    .blog .titulo{
        padding: 0;
        font-size: 30px;
        line-height: 35px;
    }
    .blog-content{
        flex-direction: column;

    }
    .blog-1{
        padding: 0;
        max-width: 300px;
        margin: 0;
        padding: 0;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}